/*------------------------------------*/
/*----------->>> CONTENTS <<<---------*/
/*--------------------------------------
	1.  RESET 
	2.	GLOBAL 
	3.	HEADER/NAVIGATION
	4.	PAGE STRUCTURE
		1.	HOME
		2.	ARTIST	
		3. 	MEMBERSHIP
		4.	ABOUT US
		5.	BENEFACTORS
	5.	RESPONSIVE (using @media queries)
		1.	LARGER SCREENS (queries: >2300px, >1050px (Show navigation))
		2.	SHOW NAV MENU (query: <1050px)
		3.	TABLET -> BIG PHONES (query: <780px)
		4.	SMALL -> BIG PHONES (query: <600px)
		5.	CUSTOM MENU SCROLL (query: height <450px, height <340px)
	6.	FOOTER
--------------------------------------*/

/*----------->>> RESET <<<-----------*/
/*------------------------------------*/
/*Resets styles so there aren't as many incompatiblities with browsers (so the page always looks like it should)*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font: inherit; font-size:100%; vertical-align:baseline; background:transparent;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;} body{line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
/*end reset*/

/*----------->>> GLOBAL <<<-----------*/
/*------------------------------------*/
	#page_wrapper{
		width: 80%;
		float: center;
	}
	body {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out; 
		transition: all 0.3s ease-in-out;
	}
	html {
		background: #f1f1f1;
		background-image: url("Images/Global/coverPage2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #000;
	}
	body {
		font: 17px/26px Calibri, 'Trebuchet MS', 'Open Sans', Helvetica, Arial, 'Lucida Grande', sans-serif;
		color: #6a6a6a;
		font-size: medium;
		-webkit-font-smoothing: antialiased;
		-webkit-backface-visibility: hidden;
		position: relative;
		right: 0;
	}
	input[type=text] {
		position: absolute;
		width: 8em;
		height: 3em;
		top: 2.25em;
		right: 0em;
		margin-right: 5%;
		box-sizing: border-box;
		border: 0.13em solid #ccc;
		border-radius: 0.3em;
		font-size: 1em;
		background-color: white;
		background-image: url('Images/Global/searchIcon.png');
		background-position: 0.7em 0.7em; 
		background-repeat: no-repeat;
		padding: 0.8em 1.25em 0.8em 2.5em;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}
	input[type=text]:focus {
		width: 50%;
		text-align: center;
		
	}
	.left_top_part {
		width: 30%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.left_top_part img {
		width: 70%;
	}
	a {
		color: #26a6d1;
		cursor: pointer;
		cursor: hand;
		-moz-transition: color 0.15s linear;
		-o-transition: color 0.15s linear;
		-webkit-transition: color 0.15s linear;
		transition: color 0.15s linear;
		text-decoration: none;
	}
	/* Remove highlight on touch mobile */
	img, a, #menu_icon {-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
	p {font-size: 1.1em;}
	b {font-weight:bold;}
	i {font-style: italic;}
	h1, h2, h3, h4, h5, h6 {color: #324d5b;}
	h1, h2{
		font-size: 2em;
		line-height: 2.5em;
	}
	.artist_title {
		font-size: 2em;
		line-height: 1.2em;
		text-align: left;
	}
	.right_bot_part {
		height: auto;
		display: table-cell;
		vertical-align: middle;
		line-height: 1.5em;	
		padding-left: 1em;
	}
	.right_bot_part.wrap {
		display: block;
		margin: 0 auto;
	}
	.right_bot_part p {
		padding: 1em 1em 0 1em;
		font-size: 1.2em;
		width: 90%;
	}	
	.about_artist .wrap, #page_content .wrap {
		position: relative;
		display: table;
		padding: 2em;
		text-align: left;
		max-width: 75%;
		margin: 0 auto;
		height: auto;
	}	
/*end global*/


/*------>>> HEADER/NAVIGATION <<<-----*/
/*------------------------------------*/
	#header0 {height: 7.5em;}
	#header1 {
		height: 3.2em;
		padding: 0.7em 0;
		background-color: #80ccff;
	}
	#header1 .wrap {
		position: relative;
		width: 100%;
		top: 0.1em;
	}
	#menu_title {display: none;}
	.navbar {
		position: absolute;
		background-color: #00CC00;
		width: 100%;
		text-align: center;
		height: 3.8em;
		right: 0px;
		top: 0px;
		padding-right: 5%;
		font-size: 0.8em;
		font-weight: bold;
	}
	.navbar ul {
		float: right;
		list-style: none;
		white-space: nowrap;
	}
	.navbar li {
		padding: 0.8em 0;
		border-bottom: none;
		display: inline-block;
	}
	.navbar a {
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
		border-radius: 0.2em;
		color: #FFFFFF;
		display: block;
		font-size: 1.2em;
		padding: 0.2em 1.1em 0.2em 1.1em;
		text-decoration: none;
	}
	#logo img {
		height:100%;
		border-radius: 0.3em;	
	}
	.logo {
		position: absolute;
		text-align: left;
		left: 0px;
		top: 0.25em;
		width: 12.5em;
		height: 3em;
		margin-left: 5%;
	}
	#bar1, #bar2, #bar3 {
		width: 2.2em;
		height: 0.3em;
		background-color: #4D728C;
		margin: 0.4em 0;
		transition: 0.4s;
	}
	#bar1.change {
		-webkit-transform: rotate(-45deg) translate(-0.56em, 0.375em);
		transform: rotate(-45deg) translate(-0.56em, 0.375em);
	}
	#bar2.change {opacity: 0;}
	#bar3.change {
		-webkit-transform: rotate(45deg) translate(-0.5em, -0.5em);
		transform: rotate(45deg) translate(-0.5em, -0.5em);
	}
	#menu_icon {
		display: none;
		float: right;
		margin-right: 5%;
		margin-top: 0.3em;
		cursor: pointer;
	}
	.header_buttons {
		top: 3.9em;
		z-index: 100;
		text-align: center;
	}
	.header_buttons li {
		display: inline-block;
		margin: 0.3em;
	}
	.header_buttons a {
		color: #000;
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
		border-radius: 0.2em;
		font-size: 1.2em;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 0px;
		margin-top: 0px;
		padding: 0.3em !important;
		text-align: center;
	}
	.header_buttons a:focus{
		color: red;
		text-decoration: none;
		cursor: pointer;
	}
	.header_buttons a:hover{
		/*background-color: #0080ff;*/
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	.header_buttons current_page a{
		/*background-color: #0080ff;*/
		color: orange;
		text-decoration: none;
		cursor: pointer;
	}

/*end header*/

/*----------->>> PAGE STRUCTURE <<<-----------*/
/*--------------------------------------------*/

	/*------------>>> HOME <<<-------------*/
	/*-------------------------------------*/
	/*main section that holds the other sections*/
	.main {
		margin-top: 5em;
		/*background-color: #ffffff;*/
	}
	/*slide show (will be updating)*/
	.slides {
		display: block;
		margin: 0 auto;
		padding-top: 1em;
		width: 25em;
		height: 25em;
	}
	#wide_img {width: 30em !important;}
	#thin_img {width: 20em !important;}
	.slide_show {
		background-color: #80ccff;
		margin: 1em auto;	
		-webkit-border-radius: 0.5em; 
		-moz-border-radius: 0.5em; 
		border-radius: 0.5em; 
		width: 35em;
	}
	#buttons {text-align: center;}
	#buttons button {margin: 1em 0.5em;}
	/*responsive container*/
	#fb_feed {width: 80%}
	#page_content {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	#page_content .artist_module {width: 100%;}
	#page_content .left_top_part {width: 40%;}
	.right_bot_part iframe {float: right;}
	/*orchestra banner image*/
	#banner {
		background-image: url("Images/Global/orchestra_full_shot.jpg");
		background-size:100%;
		background-attachment:fixed;
		background-repeat: no-repeat;
		background-position:center;
		height: 150px;
	}
	/*annoucements section*/
	#annoucementsSection {
		height:20%;
	}
		.annoucements{
		clear: both;
		display: inline-block;
		width: 100%;
		background-color: rgba(44,196,235,0.30);
		padding-bottom: 35px;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: bold;
		text-shadow: 1px 1px rgba(0,0,0,1.00);
	}
	.annoucementsContainer {
		width: 33%;
		text-align: center;
		float: left;
		margin-top: 35px;
	}
	.annoucements .annoucementsContainer h3 {
	color: orange;
	margin-bottom: 5px;
	font-size: 30px;
	}
	.annoucements .annoucementsContainer h4 {
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
		color: #fff;
	}
	.annoucements .annoucementsContainer p {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #fff;
	}
	/*<end annoucments section>*/
	#fillerSmall {
		padding-top: 195px;
		color: #000;
		height: 80px;
		text-align: center;
		font-size: 2em;
	}
	#filler {
		height: 800px;
	}
	/*end home*/

	/*----------->>> EVENTS <<<-----------*/
	/*------------------------------------*/
	/*---------source float middle: http://jsfiddle.net/0tc6ycvo/1/---------*/
		#event_banners{
			margin-top: 5%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			position: relative;
    		width: 85%;
		}
		#event_banners img{
    		width: 85%;
    		height: auto;
			object-fit: contain;
		}
		.eventbutton1 a{
			text-align: center;
			border: 3px solid #009f4e;
			color: #009f4e;
			transition: all 0.3s linear;
			background-color: #000;
			padding-top: 1.5%;
			padding-bottom: 1.5%;
			padding-left: 1%;
			padding-right: 1%;
			position: absolute;
			top: 65%; left: 50%;
			transform: translate(-50%,-50%);
		}
		.eventbutton1 a:hover{
			border: 3px solid #000;
			color: #000;
			transition: all 0.3s linear;
			background-color: #009f4e;
		}

	/*end events*/

	/*----------->>> ARTIST <<<-----------*/
	/*------------------------------------*/
		.about_artist {background-color: #FFF;}
		.artist_module img {
			width: 10em;
			height: 10em;
			display: block;
			margin: 0 auto;
			padding-top: 0.2em;
		}
		.artist_module {
			display: inline-block;
			background-color: #80ccff;
			padding: 0.2em;
			margin: 1%;
			width: 30%; 
			-webkit-border-radius: 0.5em; 
			-moz-border-radius: 0.5em; 
			border-radius: 0.5em; 
			-webkit-transition: background-color 0.5s ease-out;
			-moz-transition: background-color 0.5s ease-out;
			-o-transition: background-color 0.5s ease-out;
			transition: background-color 0.5s ease-out;
		}
		.artist_img_text {
			color: #000;
			font-weight: bold;
			text-align: center;
		}
		.artist_module:hover {
			background-color: #0080ff;
			cursor: pointer;
		}
		#centre_fix {
			width: 80%;
			display: block;
			margin: 0 auto;
		}
		.about_artist .artist_title {color: #0080ff;}
		#artist h2, #artist p {
			color: #FFF;
			/* Black outline of words so they're more visible over image */
			text-shadow: -0.07em 0 #000,0 0.07em #000,0.07em 0 #000,0 -0.07em #000;
		}
		#artist_header {
			border-bottom: 0.1em solid #FFF;
		}
		#artist {
			background-image: url('Images/Global/orchestra_full_shot.jpg');
			background-repeat: no-repeat;
			background-position: center; 
			background-size: cover;
		}
		.thinner_container {
			width: 70%;
			margin: 0 auto;
		}
		#social {text-align: center;}
		.fa {
			padding: 1em 0.5em;
			width: 50px;
			text-align: center;
			margin: 0.5em;
			color: white;
			border-radius: 4em;
		}
		.fa:hover {opacity: 0.7;}
		/* Make icons bigger */
		.fa:before {font-size: 2em;}
		.fa-facebook {background: #3B5998;}
		.fa-twitter {background: #55ACEE;}
		.fa-youtube {background: #bb0000;}
		#website {
			color: #FFF;
			font-size: 1.5em;
			font-weight: bold;
			margin: 0 auto;
			display: block;
			width: 8em;
		}
	/*end artist*/

	/*----------->>> MEMBERSHIP <<<-----------*/
	/*----------------------------------------*/
		.row_block_display_members{
			display: block;
			padding-left: 5em;
			padding-right: 5em;
			background: white;
			height: 100em;
		}
		.row_block_display_artist{
			display: block;
			padding-left: 10em;
			padding-right: 10em:
		}
		.sub_column_l1 #content {display:none;}
		.sub_column_l2 #content1 {display:none;}
		.sub_column_l3 #content2 {display:none;}
		.sub_column_l1:hover #content{display:block; background-color:cadetblue; margin-bottom:1em; border-radius:15px;}
		.sub_column_l2:hover #content1{display:block; background-color:cadetblue; margin-bottom: 1em; border-radius: 15px;}
		.sub_column_l3:hover #content2{display:block; background-color:cadetblue; margin-bottom:1em; border-radius: 15px}
		.sub_column_l4:hover {display:block; background-color:cadetblue; margin-bottom:1em;border-radius: 15px;}
		.sub_column_r1 #content{display: none;}
		.sub_column_r2 #content1{display:none;}
		.sub_column_r3 #content2{display:none;}
		.sub_column_r1:hover #content{display: block; background-color:cadetblue; margin-bottom:1em; border-radius: 15px;}
		.sub_column_r2:hover #content1{display:block; background-color:cadetblue; margin-bottom:1em; border-radius: 15px;}
		.sub_column_r3:hover #content2{display:block; background-color:cadetblue; margin-bottom:1em;border-radius: 15px;}
		.sub_column_left{
			width: 49%;
			float: left;
			padding-top: 2em;
			padding-bottom: 10px;
			text-align: center;
		}
		.sub_column_right{
			width: 49%;
			float: right;
			margin-left: 5px;
			padding-top: 2em;
			padding-bottom: 10px;
			text-align: center;
		}
		.applicant{
			padding-top: 1em;
			font-weight: bold;
		}
		.mem_form {
			margin-top: 2em;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: 3em;
			padding-right: 3em;
			background-color: lightblue;
			border-radius: 15px;
		}
		.radio_button{
			padding-left:3em;
		}
		.row_indent{
			text-align: right;
			background-color: lightgrey;
		}
		.previous_member{
			padding-top: 1.5em;
			padding-left:1em;
			text-align: left;
			width: 40%;
			float: left;
		}
		.next_member{
			padding-top: 1.5em;
			padding-right:1em;
			text-align:right;
			width: 40%;
			float: right;
		}
	/*end membership*/

	/*----------->>> ABOUT US <<<-----------*/
	/*--------------------------------------*/
		.row_block_display{
			display: block;
			padding-left: 5em;
			padding-right: 5em;
			background: white;
			height: 85em;
		}
		.left_hand_column{
			margin-top: 2em;
			float: left;
			width: 35%;
			background: white;
		}
		.right_hand_column{
			float: right;
			width: 60%;
			background: white;
		}
		.right_hand_column h2{
			border-bottom: 1px solid #282F62;
		} 
		.right_hand_column p{
			margin-top: 1.5em;
			margin-left: 1em;
			margin-right: 1em;
			text-align: justify;
		}
		.sub_column_left{
			width: 49%;
			float: left;
			padding-bottom: 10px;
			text-align: center;
		}
		.sub_column_right{
			width: 49%;
			float: right;
			margin-left: 5px;
			padding-bottom: 10px;
			text-align: center;
		}
		.sub_column_left h2, .sub_column_right h2{
			border-bottom: 1px solid #5A6073;
			text-align: left;
			padding-left: 15px;
		} 
		.first_link a{
			border-top: none;
			border-bottom: none;
			padding-left: 10px;
		}
		.first_link{
			margin-top: 2em;
			border-top: 1px solid #5A6073;
			border-bottom: 1px solid #5A6073;
		}
		.link a{
			border-bottom: none;
			padding-left: 10px;
		}
		.link{
			border-bottom: 1px solid #5A6073;
		}
		.first_link a:hover{
			display: block;
			background-color: #0080ff;
			color: #FFF;
			text-decoration: none;
		}
		.link a:hover{
			display: block;
			background-color: #0080ff;
			color: #FFF;
			text-decoration: none;
		}
	/*end About Us*/

	/*----------->>> BENEFACTORS <<<-----------*/
	/*-----------------------------------------*/
	
		.row_block_display_benefactors{
			display: block;
			padding-left: 5em;
			padding-right: 5em;
			background: white;
			height: 50em;
		}
		.ben_form{
			margin-top:2em;
			background: lightblue;
			border-radius: 15px;
			padding-top: 2em;
			padding-left:2em;
			padding-bottom: 2em;
		}
		form input{
			background-color: cadetblue;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			margin-right: 0.5em;
		}
		td{
			padding-left: 1em;
		}
		.column_left{
			width: 49%;
			float: left;
			padding-top: 2em;
			padding-bottom: 10px;
			text-align: left;
		}
		.column_right{
			width: 49%;
			float: right;
			margin-left: 5px;
			padding-top: 2em;
			padding-bottom: 10px;
			text-align: left;
		}
	/*end benefactors*/
	
/*------------>>> FOOTER <<<----------*/
/*------------------------------------*/

	#footer{
		color: #fff;
		text-align: left;
		font: white;
		background-color: rgba(0,0,0,0.60);
		padding: 50px;
	}
	.copywrite{
		text-align: center;
	}

/*end footer*/
	
/*end page structure*/
	
	
/*--------->>> RESPONSIVE <<<---------*/
/*------------------------------------*/

	/*--------->>> LARGER SCREENS <<<---------*/
	/*----------------------------------------*/
		@media (min-width: 2300px) { /*For 4k*/
		
			/*----------->>> GLOBAL <<<-----------*/
			/*------------------------------------*/
				body {font-size: x-large;}
				.left_top_part img {
					height: 100% !important;
				}
				.logo {margin-left: 5%;}
				input[type=text] {
					margin-right: 5%;
				}
				.header_buttons {
					top: 4.3em;
					margin-right: 8%;
				}
			/*end global*/
			
			/*----------->>> ARTIST <<<-----------*/
			/*------------------------------------*/
				.fa {padding: 1em; !important};
			/*end artist*/
		}
		/*Show nav*/
		@media (min-width: 1001px){.header_buttons ul{width: 100% !important;}}
		@media (max-width: 1000px){ /* Hide nav and activate menu */
			/*----------->>> GLOBAL <<<-----------*/
			/*------------------------------------*/
				.push_left {right: 40%;}
				.push_open.header_buttons ul {right: 0;}
				.push_right.header_buttons ul{right: -40%;}
				.header_buttons {width: 100%;}
				.header_buttons ul { 
					position: fixed;
					background-color: #8C8C8C;
					right: -3px;
					border-left: 3px solid #000; 
					top: 0;
					height: 150%;
					z-index: 1;
					width: 0;
				}
				.header_buttons li {
					text-align: center;
					width: 80%;
					padding: 0.625em 0;
					border-bottom: 0.15em solid #80ccff;  
					margin: 0 auto;
				}
				.header_buttons a {
					color: #FFF;
					font-size: 1.3em;
					padding: 0.5em 0;
					width: 80%;
				}
				#menu_title {
					display: block;
					font-size: 1.8em;
					font-weight: bold;
					color: #f2f2f2;
					padding: 1em 0;
					width: 90%;
					margin: 0 4%;
				}
				#menu_icon {display:inline-block;}
			/*end global*/
			
			/*--------------->>> HOME <<<----------------*/
			/*-------------------------------------------*/
				.slides {
					width: 20em;
					height: 20em;
				}
				#wide_img {width: 25em !important;}
				#thin_img {width: 15em !important;}
				.slide_show {width: 30em;}
				#page_content {width: 90%;}
			/*end home*/
			
			/*----------->>> ARTIST <<<-----------*/
			/*------------------------------------*/
				.about_artist .wrap, #page_content .wrap {max-width: 90%;}
			/*end artist*/
		}
	/*end larger screens*/
	

	/*--------->>> TABLET -> BIG PHONES <<<---------*/
	/*----------------------------------------------*/
	@media (max-width: 779px){  
		/*----------->>> GLOBAL <<<-----------*/
		/*------------------------------------*/
			.about_artist .wrap {max-width: 90%;}
			.right_bot_part p {width: 80%;}
			.left_top_part img {width: 100%;}
			input[type=text]:focus {
				width: 60%;
			}
		/*end global*/
		
		/*--------------->>> HOME <<<----------------*/
		/*-------------------------------------------*/
			.slides {
				width: 15em;
				height: 15em;
			}
			#wide_img {width: 20em !important;}
			#thin_img {width: 10em !important;}
			.slide_show {width: 25em;}
		/*end home*/
		
		/*----------->>> ARTIST <<<-----------*/
		/*------------------------------------*/
			.wrap {text-align: center;}
			.right_bot_part {
				height: auto;
				padding-left: 20px;
			}
			.left_top_part {
				width: 30%;
				display: table-cell;
				vertical-align: middle;
			}
			.artist_module {width: 46%;}
		/*end artist*/
	}
	/*end tablet -> big phones*/
	
	/*--------->>> SMALL -> BIG PHONES <<<---------*/
	/*---------------------------------------------*/
		@media (max-width: 600px){ 
			/*----------->>> GLOBAL <<<-----------*/
			/*------------------------------------*/
				.artist_title {margin-bottom: 0.5em;}
				.right_bot_part p, .artist_title {text-align: center !important;}
				.about_artist .wrap {padding: 1em;}
				.about_artist p {padding: 0.4em;}
				input[type=text]:focus {
					width: 45%;
				}
				.navbar {padding-right: 0;}
				.navbar ul {float: none;}
				.navbar li {display: inline-block;}
				.left_top_part {padding-left: 0;}
				.right_bot_part p {
					width: 95%;
					padding: 0.4em;
				}
				.main {margin-top: 0;}
			/*end global*/	
			
			/*--------------->>> HOME <<<----------------*/
			/*-------------------------------------------*/
				.slides {
					width: 10em;
					height: 10em;
				}
				#wide_img {width: 15em !important;}
				#thin_img {width: 5em !important;}
				.slide_show {width: 20em;}
				.annoucementsContainer {width: 100%;}
				#page_content {width: 98%;}
				#page_content .left_top_part {width: 60%;}
				.right_bot_part iframe {
					float: none;
					display: block;
					margin: 0 auto;
				}
			/*end home*/
			
			/*------->>> ARTIST <<<------*/
			/*------------------------------------*/
				.thinner_container {
					width: 90%;
					margin: 0 auto;
				}
				.right_bot_part {padding-left: 0px;}
				.right_bot_part {
					display: block;
					width: 100%;
				}
				.left_top_part {
					display: block;
					margin: 0 auto;
					margin-top: 1em;
				}
				.left_top_part {width: 60%;}
				.left_top_part img{
					display: block;
					margin: 0 auto;
				}
				.artist_module {width: 96%;}
			/*end artist*/			
		}
	/*end small -> big phones*/
	
	/*--------->>> CUSTOM MENU SCROLL <<<----------*/
	/*---------------------------------------------*/
	/*For when mobile device is landscape, makes menu scrollable*/
		@media (max-height: 450px){ 
			.header_buttons ul {
				height:100px;
				padding-bottom: 500px;
				overflow: scroll;
			}
			.header_buttons ul {height: 400px !important;}
		}
		@media (max-height: 340px){ 
			.header_buttons ul {height: 100px !important;}
		}
	/*end custom menu scroll*/
	
/*end responsive*/

	
